In [1]:
#kmeans munmax, gmm minmax, kmeans stand,gmm stand

In [1]:
from data import read_preprocessed_data,optimal_jaccard, jaccard_res
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from inertia import calculate_inertias
import pandas as pd
from sklearn.metrics import silhouette_score

from sklearn.mixture import GaussianMixture 

color_pallete = ["#70d6ff", "#ff70a6", "#ff9770", "#ffd670", "#70d6aa"]

results = {
    "GMM":{},
    "K-means":{}
}

gmm = GaussianMixture(
    # Stosujemy model mieszanin gaussa dla wybranej liczby klastrów
    n_components=3,          
    covariance_type='tied',  
    # Używamy random_state = 42, aby zapewnić, że klastry będą takie same z każdym uruchomieniem
    random_state=42
)
kmeans = KMeans(n_clusters=3, random_state=42)

met1= ["GMM",'K-means']
met2=["Standaryzacja","MinMax","Robust"]
#column and row
cow = []
for i in range(len(met1)):
    for n in range(len(met2)):
        cow.append(met1[i]+"_"+met2[n])

comparison_results = pd.DataFrame(-100.0
                  , columns=cow, index=cow)
#comparison_silhouette = pd.DataFrame(-100.0
        #          , columns=cow,index=["Silhouette"])

In [2]:
data= read_preprocessed_data(gmm=True)
data['Cluster'] = gmm.fit_predict(data)
data.head()

/run/media/user_admin/ntfs1/studia/going_MAD/data/marketing_campaign.csv

,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,Age,Spent,Cluster
0,0,0,0.347591,0,0,0.310246,1.115235,1.682593,1.882736,2.557221,...,0,0,0,0,0,0,1,1.034292,1.801379,2
1,0,0,-0.236997,1,1,-0.381345,-0.888116,-0.655574,-0.732000,-0.659283,...,0,0,0,0,0,0,0,1.292573,-0.957915,1
2,0,1,1.015499,0,0,-0.796300,0.444241,0.634449,-0.146106,1.403064,...,0,0,0,0,0,0,0,0.345542,0.341903,0
3,0,1,-1.213358,1,0,-0.796300,-0.888116,-0.574948,-0.664211,-0.507918,...,0,0,0,0,0,0,0,-1.290237,-0.912795,1
4,1,1,0.355273,1,0,1.555109,-0.368015,0.473196,-0.189685,0.173224,...,0,0,0,0,0,0,0,-1.031956,-0.272430,0

In [3]:
results["GMM"]["Standaryzacja"]=data
data = read_preprocessed_data(std=False, minmax=True,gmm=True)
data.head()

/run/media/user_admin/ntfs1/studia/going_MAD/data/marketing_campaign.csv

,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,Age,Spent
0,0,0,0.527454,0,0,0.585859,0.518791,0.603824,0.650119,0.851933,...,0.538462,0,0,0,0,0,0,1,0.696429,0.686433
1,0,0,0.409710,1,1,0.383838,0.008987,0.006862,0.007144,0.009906,...,0.384615,0,0,0,0,0,0,0,0.750000,0.008106
2,0,1,0.661981,0,0,0.262626,0.348039,0.336220,0.151218,0.549794,...,0.307692,0,0,0,0,0,0,0,0.553571,0.327645
3,0,1,0.213056,1,0,0.262626,0.008987,0.027447,0.023814,0.049531,...,0.461538,0,0,0,0,0,0,0,0.214286,0.019198
4,1,1,0.529002,1,0,0.949495,0.141340,0.295050,0.140502,0.227842,...,0.384615,0,0,0,0,0,0,0,0.267857,0.176621

In [4]:

data['Cluster'] = gmm.fit_predict(data)
results["GMM"]["MinMax"]=data
data = read_preprocessed_data(std=False, robust=True,gmm=True)
data['Cluster'] = gmm.fit_predict(data)
results["GMM"]["Robust"]=data

/run/media/user_admin/ntfs1/studia/going_MAD/data/marketing_campaign.csv

In [5]:
data= read_preprocessed_data()
data['Cluster'] = kmeans.fit_predict(data)
results["K-means"]["Standaryzacja"]=data
data = read_preprocessed_data(std=False, minmax=True)

data['Cluster'] = kmeans.fit_predict(data)
results["K-means"]["MinMax"]=data
data = read_preprocessed_data(std=False, robust=True)
data['Cluster'] = kmeans.fit_predict(data)
results["K-means"]["Robust"]=data

/run/media/user_admin/ntfs1/studia/going_MAD/data/marketing_campaign.csv
/run/media/user_admin/ntfs1/studia/going_MAD/data/marketing_campaign.csv
/run/media/user_admin/ntfs1/studia/going_MAD/data/marketing_campaign.csv

In [6]:
#met1= i,j 
#met2= l,k

for i in range(len(met1)):
    for j in range(len(met2)):
        l=i
        for l in range(len(met1)):
            k= j if i==l else 0
            for k in range(len(met2)):
                
               # print(type(results[met1[i]][met2[j]]))
                #jaccard_res(results[met1[i]][met2[j]])
                #comparison_results.loc[met1[i]+"_"+met2[j],met1[l]+"_"+met2[k]]=i+j+l+k
                # print(jaccard_res(results[met1[i]][met2[j]],results[met1[l]][met2[k]]))
                comparison_results.loc[met1[i]+"_"+met2[j],met1[l]+"_"+met2[k]]= optimal_jaccard(results[met1[i]][met2[j]],results[met1[l]][met2[k]])
                comparison_results.loc[met1[l]+"_"+met2[k],met1[i]+"_"+met2[j]]= optimal_jaccard(results[met1[i]][met2[j]],results[met1[l]][met2[k]])
                
              # comparison_results.loc[met1[i]+"_"+met2[j],met1[l]+"_"+met2[k]]= jaccard_res(results[met1[i]][met2[j]],results[met1[l]][met2[k]])
            #   comparison_results.loc[met1[l]+"_"+met2[k],met1[i]+"_"+met2[j]]= jaccard_res(results[met1[i]][met2[j]],results[met1[l]][met2[k]])

comparison_results.head(6)

,GMM_Standaryzacja,GMM_MinMax,GMM_Robust,K-means_Standaryzacja,K-means_MinMax,K-means_Robust
GMM_Standaryzacja,1.000000,0.420126,0.834406,0.776485,0.473974,0.733279
GMM_MinMax,0.420126,1.000000,0.399673,0.379355,0.698173,0.374920
GMM_Robust,0.834406,0.399673,1.000000,0.835193,0.463381,0.812632
K-means_Standaryzacja,0.776485,0.379355,0.835193,1.000000,0.443619,0.891199
K-means_MinMax,0.473974,0.698173,0.463381,0.443619,1.000000,0.435863
K-means_Robust,0.733279,0.374920,0.812632,0.891199,0.435863,1.000000

In [7]:
#comparison_results.loc[comparison_results["K-means_Robust"] == 0.000000,"K-means_Robust"] = 30

In [8]:
comparison_results.head(6)

,GMM_Standaryzacja,GMM_MinMax,GMM_Robust,K-means_Standaryzacja,K-means_MinMax,K-means_Robust
GMM_Standaryzacja,1.000000,0.420126,0.834406,0.776485,0.473974,0.733279
GMM_MinMax,0.420126,1.000000,0.399673,0.379355,0.698173,0.374920
GMM_Robust,0.834406,0.399673,1.000000,0.835193,0.463381,0.812632
K-means_Standaryzacja,0.776485,0.379355,0.835193,1.000000,0.443619,0.891199
K-means_MinMax,0.473974,0.698173,0.463381,0.443619,1.000000,0.435863
K-means_Robust,0.733279,0.374920,0.812632,0.891199,0.435863,1.000000