In [1]:
import pandas as pd
from main import read_preprocessed_data

df = read_preprocessed_data()

Income    24
dtype: int64

In [2]:
#odstające dane w Income
q1 = df['Income'].quantile(0.25)
q3 = df['Income'].quantile(0.75)

IQR = q3 - q1

outliers = df[(df['Income'] < (q1 - 1.5 * IQR)) | (df['Income'] > (q3 + 1.5 * IQR))]

outliers.head()

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
164,1973,PhD,Married,157243.0,0,1,2536,98,20,2,...,22,0,0,0,0,0,0,0,0,0
617,1976,PhD,Together,162397.0,1,1,2807,31,85,1,...,0,1,1,0,0,0,0,0,0,0
655,1975,Graduation,Divorced,153924.0,0,0,2558,81,1,1,...,0,0,0,0,0,0,0,0,0,0
687,1982,PhD,Married,160803.0,0,0,3110,21,55,16,...,28,1,0,0,0,0,0,0,0,0
1300,1971,Master,Together,157733.0,1,0,2806,37,39,1,...,0,1,1,0,0,0,0,0,0,0

In [3]:
#sprawdzanie wartości skrajnych

outliers_count = []

for col in df.columns[1:]:
    if df[col].dtype in ['int64', 'float64']:
        q1 = df[col].quantile(0.25)
        q3 = df[col].quantile(0.75)
        IQR = q3 - q1
        outliers = df[(df[col] < (q1 - 1.5 * IQR)) | (df[col] > (q3 + 1.5 * IQR))]
        outliers_count.append(outliers.shape[0])
    else:
        outliers_count.append(0)

outliers_df = pd.DataFrame([outliers_count], columns=df.columns[1:])
outliers_df.index = ['Ilość wartości skrajnych']

outliers_df.head()

,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
Ilość wartości skrajnych,0,0,8,0,0,0,0,35,226,175,...,23,0,8,163,167,162,143,30,21,332

In [4]:
incl= ['mean','std']
num_cols = df.select_dtypes(include=['int', 'float'])
statystyki = {
'Średnia':num_cols.mean(),
'Mediana':num_cols.median(),
'Minimum':num_cols.min(),
'Maksimum':num_cols.max(),
'Odchylenie Standardowe':num_cols.std(),
'Skośność':num_cols.skew()
}
#statystyki = pd.DataFrame(statystyki).transpose()

In [5]:
other_cols = [col for col in df.columns if col not in num_cols]

for i in statystyki:
 
    for k in other_cols:
       statystyki[i][k]='N/A'  

df['Education'].unique().tolist()

['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle']

In [6]:

education_sort = {
    'Basic': 1,      
    '2n Cycle': 2,   
    'Graduation': 3, 
    'Master': 4,     
    'PhD': 5         
}
sorted_education = sorted(df['Education'].tolist(), key=lambda x: education_sort[x])

In [7]:
 
#mediana, min i max edukacji
if(len(sorted_education)%2==0):
    if(sorted_education[int(len(sorted_education)/2)]==sorted_education[int(len(sorted_education)/2+1)]):
        statystyki['Mediana']['Education']= sorted_education[int(len(sorted_education)/2)]
 

else:
    statystyki['Mediana']['Education']= sorted_education[int(len(sorted_education)/2)+1]
statystyki['Minimum']['Education']='Basic'
statystyki['Maksimum']['Education']='PhD'

In [8]:
statystyki = pd.DataFrame(statystyki).transpose()

statystyki = statystyki[df.columns.tolist()] 
statystyki.head()

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
Średnia,1968.796512,N/A,N/A,52232.51085,0.444991,0.506261,2769.335868,49.147138,303.873435,26.27102,...,2.659213,5.789356,5.317531,0.072898,0.074687,0.072451,0.063953,0.013417,0.009392,0.148479
Mediana,1970.0,Graduation,N/A,51381.5,0.0,0.0,2771.0,49.0,173.0,8.0,...,2.0,5.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Minimum,1893.0,Basic,N/A,1730.0,0.0,0.0,2416.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Maksimum,1996.0,PhD,N/A,666666.0,2.0,2.0,3115.0,99.0,1493.0,199.0,...,28.0,13.0,20.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
Odchylenie Standardowe,11.980604,N/A,N/A,25187.455359,0.538551,0.544615,202.064179,28.95488,336.876776,39.761356,...,2.920752,3.253756,2.424756,0.260027,0.262944,0.259291,0.244725,0.115077,0.096477,0.355654